.page-wrap {


    & header {
        display: flex;
        justify-content: center; align-items: center;
        height: 200px;
        background: linear-gradient(var(--accent-darker), var(--accent-dark)); color: var(--white);
        padding-bottom: 40px;
    }
}

.table-wrap {

}

.table {

}
