/* Оформление взято с сайта https://severstal.com/rus/ */

@font-face {
    font-family: 'severstal';
    src: url(../Grtsk-Peta-Regular.woff2) format('woff2');
    font-weight: normal;
}
@font-face {
    font-family: 'severstal';
    src: url(../Grtsk-Peta-SemiBold.woff2) format('woff2');
    font-weight: bold;
}

:root {
    /* ШРИФТ */
    --FONTS: 'severstal', system-ui, 'Segoe UI', Roboto, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    font-size: 14px; 

    /* РАЗМЕРЫ ШРИФТА */
    --FS-h1: 4.12rem;
    --FS-h2: 2.06rem;
    --FS-big: 1.14rem;
    --FS-regular: 1rem;
    --FS-small: 0.76rem;

    /* ЦВЕТА */
    --accent-darker: #021f45;
    --accent-dark: #002f6c;
    --accent: #08449c;
    --accent-lite: #007aff;

    --white: #fff;
    --whitish: #f4f4f4;
    --grey: #bbb;
    --black: #111;

    --emphasis: #f00;

    /* СВОЙСТВА */
    --BR-button: 999px;

    --TR-big: .3s;
    --TR-small: .15s;
}
